footer
 .r
  .c3
   h3 bukkitoks.lt
   p "Būk Kitoks" - svetainė, kurioje atrasite Jums asmeniškai ar Jūsų darbuotojams rekomenduojamus mokymus.
   p "Būk Kitoks" vertybės - Gerbti | Suprasti | Būti dėkingam
   p.social
    a(href='https://www.facebook.com/rimvydas.jurkuvenas') Facebook
    //- a(href='https://www.youtube.com/channel/UCLce9PmdRXBGN-2UJXeLcrg') Youtube
    a(href='https://www.linkedin.com/in/rimvydas-jurkuv%C4%97nas-37a62b2/') Linkedin
   p MB "Būk kitoks", įm. kodas: 304892560
  .c3.text-right 
   nav
    h3 Mokymai:
    each page in collections.mokymai
     a(href=siteurl + page.path.replace(/ /g, "-")) #{page.title}
  .c3.text-right
   nav
    h3 Lektorius:
    a(href=siteurl + 'lektorius/rimvydas-jurkuvėnas.html') Rimvydas Jurkuvėnas
    a(href='mailto:' + email)=email
    a(href='tel:+37062010620')=phone
  
