<!DOCTYPE html>
html(lang="lt")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description" content="Lektoriaus Rimvydo Jurkuvėno internetinė svetainė, kurioje atrasite Jums asmeniškai ar Jūsų darbuotojams rekomenduojamas mokymosi ir mokomąsias sesijas bei seminarus.")
        //- meta(property='og:title' content='Rimvydas Jurkuvėnas - seminarai, mokymai')
        //- meta(property='og:type' content='') 
        //- meta(property='og:url' content='https://www.bukkitoks.lt/')
        //- meta(property='og:image' content='http://image.jpg')
        title #{title} | #{sitename}
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,800&amp;subset=latin-ext" rel="stylesheet")
        link(rel="stylesheet", href=siteurl + "css/style.css?v=104")
        link(href=siteurl + 'favicon.ico' rel='icon' type='image/x-icon')
        script(src="https://identity-js.netlify.com/v1/netlify-identity-widget.js")
        include ./partials/google_analytics.html
      
    body

        header
         .center-both
          #kontaktai
           p.h3 Lektorius
           h1 Rimvydas Jurkuvėnas
           p.h4 
            a(href='tel:+37062010620') +370 620 10 620 <br>
            a(href='mailto:rimvydas@bukkitoks.lt') rimvydas@bukkitoks.lt
          #rimvydas.rellax(data-rellax-speed='10')
          #navigacija.text-right
           h1 Mokymai, seminarai
            -var sritys = []
           .h4
            each sritis in collections.mokymai
             -var o = sritis.sritis
             -if (! sritys.includes(o)) { 
             -sritys.push(o) 
              a(href=siteurl + '#' + o.replace(/ /g, "-"))=o
              //- a(href=siteurl + '#mokymai')=o
              br
             -}

        block promo
         include ./partials/promo.pug

        block contentas         
         -var sk = collections.mokymai.length
         -var sritys = []
         each page, i in collections.mokymai
          -var o = page.sritis
          -if (! sritys.includes(o)) {
          -sritys.push(o) 
           section(id=o.replace(/ /g, "-") itemscope='' itemtype='http://schema.org/Course')
            include ./partials/mokymu_aprasai
          -} else {
           section(itemscope='' itemtype='http://schema.org/Course')
            include ./partials/mokymu_aprasai
          -}
             

        include ./partials/footer.pug
        
        block netlify-edentity
         include ./partials/netlify-identity.html

        script(src=siteurl +'js/rellax.min.js')
        script. 
         var rellax = new Rellax('.rellax')
